<ng-container *transloco="let t">
    <div>
        <p>Products</p>
        <div class="products">
            <p-card *ngFor="let product of products"
                    [header]="product.code"
                    [subheader]="product.price">
                <p-header>
                    <img [src]="product.image" alt="product-image">
                </p-header>

                <p-footer>
                    <button pButton type="button" [label]="t('add')" icon="pi pi-check"></button>
                </p-footer>
            </p-card>
        </div>
    </div>
</ng-container>
