.products {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

mat-card {
    display: flex;
    flex-direction: column;
}

mat-card-actions {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
    .products {
        grid-template-columns: 1fr;
    }
}
