@import "app/order/components/order-common-style.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.no-top-padding {
    padding-top: 0 !important;
}

.success-snackbar {
    color: white;
    background-color: rgb(0, 168, 28);
}

.success-snackbar .mat-simple-snackbar-action {
    color: white;
}

.danger-snackbar {
    color: white;
    background-color: rgb(160, 27, 27);
}

.danger-snackbar .mat-simple-snackbar-action {
    color: white;
}

.warning-snackbar {
    color: white;
    background-color: rgb(196, 142, 41);
}

.warning-snackbar .mat-simple-snackbar-action {
    color: white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 5px;
    border: none;
    background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 8px;*/
    background-color: rgba(0, 0, 0, 0.3);
}
